  .recipe-image {
    max-width: 300px;
    height: auto;
  }

  .header {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
  }

  .search-bar {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    font-weight: 200;
  }

  .recipe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .recipe-card { /* Card styles when collapsed */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: calc(30% - 5px); /* Adjust the width based on the desired spacing between cards */
  }

  @media (max-width: 768px) {
    .recipe-card {
      width: 100%; /* Make each card take the full width on smaller screens */
    }
  }
  
  .recipe-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  
  .recipe-card .card-content { /* Styles for the main content container */
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .recipe-card .image-container img { /* Styles for the image container */
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 4px;
  }
  
  .recipe-card .details-container h2 { /* Styles for the details container */
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-size: 20px;
    color: #333;
  }
  
  .recipe-card .expanded-content {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ccc;
  }
  
  .recipe-card .expanded-content p {
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    font-size: 16px;
    color: #555;
    font-weight: 400; /* Regular */
  }
  
  .recipe-card .expanded-content p:first-child {
    margin-top: 0;
  }
  
  .recipe-card .expanded-content p:last-child {
    margin-bottom: 0;
  }